<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>표현식 예제</title>
</head>
<body>
<!--오브젝트 지정 후, 해당 태그 내부에서 * 선택자 통해 멤버 접근 가능-->
    <div th:object="${profile}">
        <p th:text="*{name}">이름</p>
        <p th:text="*{age}">나이</p>
    </div>

<!--properties 접근 방법 > # 사용-->
    <p th:text="#{welcome}">기본 메세지</p>
    <p th:text="#{greeting}">간단 인사</p>

<!--replace : 해당 태그를 대체 / insert : 해당 태그 하위에 삽입-->
    <div th:replace="fragments/header :: simple"></div>
    <div th:insert="fragments/header :: simple"></div>

<!--텍스트 속성 - 대체 표현식-->
    <p th:text="|이름은 ${profile.name}|"></p>

<!--인라인 텍스트 - 스크립트 혹은 css로 사용 가능하다-->
    <script th:inline="javascript">
        let userProfile = /*[[${profile.name}]]*/;
        console.log("안녕하세요 " + userProfile);
    </script>
    <style th:inline="css">
        body{
            font-size: /*[[${profile.age > 40} ? '1.3rem' : '1rem']]*/;
        }
    </style>
</body>
</html>